<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后厨管理</title>
    <link href="https://cdn.bootcss.com/element-ui/2.11.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.11.1/index.js"></script>
    <script src="https://cdn.bootcss.com/decimal.js/10.2.0/decimal.min.js"></script>
    <script src="/js/config.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
        .user-search {
            margin-top: 20px;
        }
        html,
        body,
        #app,
        .el-container {
            /*设置内部填充为0，几个布局元素之间没有间距*/
            padding: 0px;
            /*外部间距也是如此设置*/
            margin: 0px;
            /*统一设置高度为100%*/
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <el-container>
            <div th:replace="template::controller"></div>
            <el-container>
                <el-main>
                    <el-collapse v-model="activeName">
                        <el-collapse-item v-for="item in  list"
                                          :title="'桌位:' + item.diningTable.name + '   开始时间:' + item.startDate + '   备注:' + item.remarks"
                                          :name="item.id">
                            <el-form :inline="true" class="user-search">
                                <el-form-item>
                                    <el-button @click="tipForWaiter" type="success">提醒服务员上菜</el-button>
                                </el-form-item>
                                <el-form-item>
                                    <el-button @click="callWaiter" type="primary">呼叫服务员</el-button>
                                </el-form-item>
                            </el-form>
                            <el-table highlight-current-row border :data="item.foods">
                                <el-table-column fixed prop="foodName" label="名称">
                                </el-table-column>
                                <el-table-column prop="singlePrice" label="单价">
                                </el-table-column>
                                <el-table-column prop="discount" label="折扣">
                                </el-table-column>
                                <el-table-column prop="realSinglePrice" label="折后价">
                                </el-table-column>
                                <el-table-column prop="returnMessage" label="退菜原因">
                                </el-table-column>
                                <el-table-column label="状态">
                                    <template slot-scope="scope">
                            <span style="color: #F56C6C" v-if="scope.row.returnStatus">
                                已退菜
                            </span>
                                        <span style="color: #67C23A" v-else-if="scope.row.status">
                                以上齐
                            </span>
                                        <span style="color: #E6A23C" v-else>
                                未上齐
                            </span>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="amount" label="数量">
                                </el-table-column>
                            </el-table>
                        </el-collapse-item>
                    </el-collapse>

                    <el-backtop target=".page-component__scroll .el-scrollbar__wrap"></el-backtop>
                </el-main>
            </el-container>
        </el-container>
    </div>

</body>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            sock: null,
            shopName: "",
            list: [],
            activeName: []
        },
        methods: {
            tipForWaiter:function (){
                if(this.sock != null){
                    var msg = {shopName:this.shopName, code:301}
                    this.sock.send(JSON.stringify(msg))
                }
            },
            callWaiter:function(){
                if(this.sock != null){
                    var msg = {shopName:this.shopName, code:302}
                    this.sock.send(JSON.stringify(msg))
                }
            },
            getOrderInfo: function () {
                $.ajax({
                    url: http + "/order/used-order",
                    type: "get",
                    success: function (req) {
                        if (req.code == 200) {
                            app.list = req.data;
                            for (var i in req.data) {
                                app.activeName.push(req.data[i].id);
                            }
                        }
                    }
                })
            },
            onError: function () {

            },
            onMessage: function (event) {
                var obj = JSON.parse(event.data);
                if (obj.code == 201) {
                    this.getOrderInfo();
                }
                if (obj.code == 202) {
                    this.$notify({
                        title: '提示',
                        message: obj.msg,
                        duration: 0
                    });
                }
            },
            onClose: function () {
                this.$message.success("断连成功！");
            },
            onOpen: function () {
                this.$message.success("连接成功！");
                this.getOrderInfo();
            },
            testInitSock: function () {
                this.shopName = 'root';

                if ('WebSocket' in window) {
                    this.sock = new WebSocket("ws://"+window.location.host+"/kitchen/" + this.shopName);
                    this.sock.onopen = this.onOpen;
                    this.sock.onclose = this.onClose;
                    // 监听socket错误信息
                    this.sock.onerror = this.onError;
                    // 监听socket消息
                    this.sock.onmessage = this.sonMessage;
                }
                else {
                    this.$message.error("抱歉,您的浏览器不支持websocket");
                }
            },
            initSock: function () {
                $.ajax({
                    url: http + "/user/info",
                    type: "get",
                    success: function (req) {
                        if (req.code == 200) {
                            app.shopName = req.data.shopName;

                            if ('WebSocket' in window) {
                                app.sock = new WebSocket("ws://"+window.location.host+"/kitchen/" + app.shopName);
                                app.sock.onopen = app.onOpen;
                                app.sock.onclose = app.onClose;
                                // 监听socket错误信息
                                app.sock.onerror = app.onError;
                                // 监听socket消息
                                app.sock.onmessage = app.onMessage;
                            }
                            else {
                                app.$message.error("抱歉，您的浏览器不支持websocket");
                            }
                        }
                    }
                })
            },
        },
        mounted: function () {
            this.initSock();
            //this.testInitSock();
        }
    })




</script>

</html>