<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>用户管理</title>
  <link href="https://cdn.bootcss.com/element-ui/2.11.1/theme-chalk/index.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/element-ui/2.11.1/index.js"></script>
  <script src="https://cdn.bootcss.com/decimal.js/10.2.0/decimal.min.js"></script>
  <script src="/js/config.js"></script>
  <style>
    [v-cloak] {
      display: none;
    }

    html,
    body,
    #app,
    .el-container {
      /*设置内部填充为0，几个布局元素之间没有间距*/
      padding: 0px;
      /*外部间距也是如此设置*/
      margin: 0px;
      /*统一设置高度为100%*/
      height: 100%;
    }

    .user-search {
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <div v-cloak id="app">
    <el-container>
      <div th:include="template::controller"></div>
      <el-main>
        <el-form :inline="true" class="user-search">
          <el-form-item label="搜索：">
            <el-input size="small" v-model="name" placeholder="输入名称"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button @click="currentChange" type="primary">搜索</el-button>
          </el-form-item>
          <el-form-item>
            <el-button @click="showUserTable" type="primary">添加</el-button>
          </el-form-item>

        </el-form>

        <el-table size="small" :data="list" highlight-current-row border style="width: 100%;">
          <el-table-column fixed prop="id" label="id">
          </el-table-column>
          <el-table-column prop="username" label="名称">
          </el-table-column>
          <el-table-column prop="email" label="email">
          </el-table-column>
          <el-table-column prop="telephone" label="电话">
          </el-table-column>
          <el-table-column label="类型">
            <template slot-scope="scope">
              <span v-if="scope.row.type == 0">
                店长
              </span>
              <span v-if="scope.row.type == 1">
                厨师
              </span>
              <span v-if="scope.row.type == 2">
                服务员
              </span>
            </template>
          </el-table-column>
          <el-table-column fixed="right" label="操作">
            <template slot-scope="scope">
              <el-button @click="showEmployeePassword(scope.row.id)" type="text" size="small">修改密码</el-button>
              <el-button @click="deleteUser(scope.row.id)" type="text" size="small">删除</el-button>
            </template>
          </el-table-column>
        </el-table>

        <el-pagination layout="prev, pager, next" :total="total" :page-size="size" @current-change="currentChange">
        </el-pagination>
      </el-main>
    </el-container>

    <el-dialog title="添加员工" :visible.sync="dialogFormVisible">
      <el-form :model="user">
        <el-form-item label="用户名" label-width="80px">
          <el-input v-model="user.username" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="密码" label-width="80px">
          <el-input show-password v-model="user.password" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="电话号码" label-width="80px">
          <el-input v-model="user.telephone" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" label-width="80px">
          <el-input v-model="user.email" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="类型" label-width="80px">
          <el-select v-model="user.type" placeholder="请选择">
            <el-option label="厨师" value="1"></el-option>
            <el-option label="服务员" value="2"></el-option>
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="createUser">添 加</el-button>
      </div>
    </el-dialog>

    <el-dialog title="修改密码" :visible.sync="updatePasswordForm">
        <el-form>
          <el-form-item label="新密码" >
              <el-input placeholder="请输入密码" v-model="employeePassword" show-password></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="updatePasswordForm = false">取 消</el-button>
          <el-button type="primary" @click="updatePassword">确 定</el-button>
        </div>
      </el-dialog>

  </div>
</body>
<script>
  var app = new Vue({
    el: "#app",
    data: {
      employeeId:0,
      employeePassword:"",
      updatePasswordForm: false,
      dialogFormVisible: false,
      userPattern: /^[a-zA-Z0-9_-]{4,16}$/,
      passwordPattern: /^.*(?=.{6,})(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*? ]).*$/,
      emailPattern: /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/,
      phonePattern: /^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,5-9]))\d{8}$/,
      user: {
        username: "",
        password: "",
        telephone: "",
        email: "",
        type: "2",
      },
      name: "",
      total: 0,
      list: [],
      size: 10,
      current: 1
    },
    methods: {
      updatePassword:function(){
        // if (!this.passwordPattern.test(app.employeePassword)) {
        //   app.$message.error('密码最少6位，包括至少1个大写字母，1个小写字母，1个数字，1个特殊字符');
        //   return;
        // }
        $.ajax({
          url: http+ "/user/update-employee-password/" + app.employeeId,
          type: "post",
          data:{password: app.employeePassword},
          success:function(req){
            if(req.code == 200){
              app.$message.success(req.msg);
              app.updatePasswordForm = false;
            }else{
              app.$message.error(req.msg);
            }
          }
        })
      },
      showEmployeePassword:function(id){
        this.employeeId = id;
        this.employeePassword = "";
        this.updatePasswordForm = true;
      },
      deleteUser: function (id) {
        this.$confirm('是否删除?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          $.ajax({
            url: http + "/user/delete-employee/" + id,
            type: "delete",
            xhrFields: {
              withCredentials: true
            },
            success: function (req) {
              if (req.code == 200) {
                app.$message.success(req.msg);
                app.currentChange(app.current);
              }else{
                app.$message.error(req.msg);
              }
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      showUserTable: function () {
        this.user = {
          username: "",
          password: "",
          telephone: "",
          email: "",
          type: "2",
        };
        this.dialogFormVisible = true;
      },
      createUser: function () {
        if (!this.userPattern.test(app.user.username)) {
          app.$message.error('用户名4到16位（字母，数字，下划线，减号）');
          return;
        }
        //密码最少6位，包括至少1个大写字母，1个小写字母，1个数字，1个特殊字符  
        // if (!this.passwordPattern.test(app.user.password)) {
        //   app.$message.error('密码最少6位，包括至少1个大写字母，1个小写字母，1个数字，1个特殊字符');
        //   return;
        // }

        if (!this.emailPattern.test(app.user.email)) {
          app.$message.error('邮箱格式不对');
          return;
        }

        if (!this.phonePattern.test(app.user.telephone)) {
          app.$message.error('手机号不对');
          return;
        }

        $.ajax({
          url: http + "/user/add-employee",
          type: "post",
          data: {
            username: app.user.username,
            password: app.user.password,
            telephone: app.user.telephone,
            email: app.user.email,
            type: app.user.type
          },
          success: function (req) {
            if (req.code == 200) {
              app.$message.success(req.msg);
              app.dialogFormVisible = false;
              app.currentChange(app.current);
            } else {
              app.$message.error(req.msg);
            }
          }
        })
      },
      currentChange: function (current) {
        this.getOrderPages(current, app.size, app.name);
      },
      getOrderPages: function (current, size, name) {
        $.ajax({
          url: http + "/user/page/" + current + "/" + size,
          type: "get",
          data: { name: name },
          success: function (req) {
            if (req.code == 200) {
              app.current = req.data.current;
              app.size = req.data.size;
              app.total = req.data.total;
              app.list = req.data.records;
            }
          }
        })
      },
    },
    mounted: function () {
      this.getOrderPages(1, 10, "");
    },
  })
</script>

</html>